.box {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 4px;
}

.button {
  border-radius: 4px;
  text-align: center;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 1px solid var(--bs-hover);
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 1px solid var(--bs-hover);
}
